body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(135deg, #6a1b9a, #ffcc80); 
}
.container {
    max-width: 600px;
    margin: auto;
    background: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #6a1b9a; 
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #6a1b9a; 
}

input, select {
    width: 99%;
    padding: 5px; 
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input:focus, select:focus {
    border-color: #ffeb3b; 
    outline: none;
}

button {
    background-color: #ffeb3b; 
    color: #6a1b9a;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #fdd835;
}

.resultado {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #e1bee7; 
}

.resultado h2 {
    color: #6a1b9a; 
}

.resultado p {
    color: #333;
}
